<div class="index-header">
  <%= image_tag "peoplejumping.jpg", class:"photo-man" %>
  <p class="index-title"><strong>Find the helperr you're looking for!</strong></p>
</div>


<div class="index-content">
  <div class="search">
    <form id="search-bar" class=" form-inline">
      <% if @query.present? %>
        <input name="query" class="index-search" type="search" placeholder="Find a Helperr..." aria-label="Search">
      <% else %>
        <input name="query" class="index-search" type="search" aria-label="Search" placeholder="Find a Helperr...">
      <% end %>
        <button class="btn btn-primary index-search-btn" type="submit"><i class="fas fa-chevron-right"></i></button>
    </form>
  </div>


  <div class="filter">
    <div class="d-flex filter-content">
      <p class="filter-text"><i class="fas fa-filter"></i>  <strong>Filters</strong></p>
      <p class="filter-text"><i class="fas fa-caret-down filter-drop-down"></i>  Profession</p>
      <p class="filter-text"><i class="fas fa-caret-down filter-drop-down"></i>  Rate</p>
      <p class="filter-text"><i class="fas fa-caret-down filter-drop-down"></i>  Location</p>
      <p class="filter-text"><i class="fas fa-caret-down filter-drop-down"></i>  Rating</p>
    </div>
  </div>


  <div class="container job-cards">
    <% unless @jobs.nil? %>
      <% @jobs[1..12].each do |job| %>
        <div class="job-card">
          <% if job.user.photo.attached? %>
            <%= cl_image_tag job.user.photo.key, class: "avatar-card", 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card", 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

          <p><%= job.user.username %></p>
          <div class="d-flex">
            <% job.user.jobs.each do |job| %>
              <%= job.profession %>
              £<%= job.rate %>
            <% end %>
          </div>
          <p><%= job.user.name %></p>
          <p><%= job.location %></p>
          <% unless job.user.rating.nil? %>
            <p><%= job.user.rating.round(1) %></p>
          <% else %>
          <p>0.0</p>
          <% end %>
          <button class="btn btn-primary">Message Helperr</button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%= render 'shared/footer' %>
