<div class="search search-index">
  <div class="search-box">
    <div class="search-infomation search-infomation-index">
      <h4 class="mt-3 search-for-helperr">Search for a helperr</h4>
    </div>

    <form class="search-bar search-bar-index">
      <div>
        <i class="fas fa-search search-icon"></i>
        <input name="query" type="search" aria-label="Search" placeholder="Find a helperr..." class="search-input">
      </div>
      <button class="btn btn-primary search-submit" type="submit">Search</button>
    </form> class="btn btn-primary search-submit" type="submit">Search</button>
  </div>

  <h6 class="filter-dropdown"><strong>Filter</strong> <i class="chevron fas fa-chevron-down"></i></h6>

  <div class="filter-bar">
    <p class="filter-text"><i class="fas fa-filter"></i>  <strong>Filters</strong></p>
    <p class="vertical-line" ></p>
    <p class="filter-text">Location <i class="fas fa-caret-down filter-drop-down"></i>   </p>
    <p class="vertical-line" ></p>
    <p class="filter-text">Price <i class="fas fa-caret-down filter-drop-down"></i>  </p>
    <p class="vertical-line" ></p>
    <p class="filter-text">Profession <i class="fas fa-caret-down filter-drop-down"></i>  </p>
    <p class="vertical-line" ></p>
    <p class="filter-text">Availability <i class="fas fa-caret-down filter-drop-down"></i>  </p>
  </div>
</div>





<div class="index-content">
  <div class="container job-cards">
    <% unless @users.nil? %>
      <% @users.each do |user| %>
        <% unless user.jobs == [] %>

          <div class="card job-card" style="width: 18rem;">
            <% if user.cover_photo.attached? %>
              <%= cl_image_tag user.cover_photo.key, class:"card-img-top job-cover", style:"height: 140px", 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag @coverphoto.sample, class:"card-img-top job-cover", style:"height: 140px", 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "avatar job-avatar", 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar job-avatar", 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= user.username %></h5>
              <p class="card-text"><%= user.location.capitalize %></p>
              <p class="card-text ft-rating">
                <% unless user.rating.nil? %>
                  <div class="d-flex stars" >
                    <div class="d-flex">
                      <p class="full-star mb-n2" ><%= ("<i class='fas fa-star'></i>").html_safe * user.rating.round(1) %></p>
                      <p class="half-star mb-n2" ><%= ("<i class='fas fa-star-half-alt'></i>").html_safe if user.rating - user.rating.to_i >= 0.5 && user.rating - user.rating.to_i < 0.95 %></p>
                      <p class="empty-star mb-n2" ><%= ("<i class='far fa-star'></i>").html_safe * ( 5 - user.rating.round ) %></p>
                    </div>
                    <div>
                      <p class="mb-n2">(5 reviews)</p>
                    </div>
                  </div>
                <% end %>
              </p>
            </div>
              
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between"><%= user.jobs.first.profession %>  £<%= user.jobs.first.rate %></li>
              <li class="list-group-item d-flex justify-content-between"><%= user.jobs[1].profession %>  £<%= user.jobs[1].rate %></li>
              <li class="list-group-item d-flex justify-content-between"><%= user.jobs[2].profession %>  £<%= user.jobs[2].rate %></li>
            </ul>
              
            <div class="card-body">
              <a href="#" class="card-link">Contact</a>
              <a href="#" class="card-link">Profile</a>
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-center">
  <% number = 0 %>
  <p><i class="fas fa-chevron-left last-12"></i></p>
  <div class="index-page" >
    <% until number == 10 %>
      <% number += 1 %>
      <%= link_to jobs_path(number) do %>
        <button class="btn btn-primary m-1" type="submit"><%= number %></button>
      <% end %>
    <% end %>
  </div>
  <p><i class="fas fa-chevron-right next-12"></i></p>
</div>


<%= render 'shared/footer' %>
