<% about = ["Terms & Privacy", "Help", "Contact Us", "Services"] %>
<% explore = ["Location", "High Rating", "Profession", "Lower Priced", "Higher Priced"] %>

<div class="footer">
  <div class="container all-footer-content">

    <div class="footer-icons">
      <%= link_to root_path do %>
        <%= image_tag("helperlogowhite.png", class:"footer-logo") %>
      <% end %>

      <p class="follow-us">Helperr aims to resolve unemployement, <br> reward the hard working and <br> help you find the workers you require</p>
      <div class="sm-icons">
        <p>
          <%= link_to "http://www.facebook.com", :target => "_blank" do %>
            <i class="fab fa-facebook-f sm-icon"></i>
          <% end %>
          <%= link_to "hhtp://www.twitter.com", :target => "_blank" do %>
            <i class="fab fa-twitter sm-icon"></i>
          <% end %>
          <%= link_to "https://www.instagram.com/", :target => "_blank" do %>
            <i class="fab fa-instagram sm-icon"></i>
          <% end %>
        </p>
      </div>
    </div>

    <div class="wraper">
      <div class="footer-content">
        <h5 class="footer-title">My Account</h5>
        <%= link_to "Log in or Register", new_user_registration_path %>
        <%= link_to "Messages", messages_path %>
        <%= link_to "Listings", jobs_path %>
        <%= link_to "Purchases", my_profile_path %>
        <%= link_to "My Details", profile_details_path %>
      </div>

      <div class="footer-content">
        <h5 class="footer-title">About Us</h5>
        <%= link_to "Terms & Privacy", privacy_path %>
        <%= link_to "Help", help_path %>
        <%= link_to "Contact us", contact_us_path %>
        <%= link_to "About us", about_us_path %>
      </div>

      <div class="footer-content">
        <h5 class="footer-title">Explore</h5>
        <%= link_to "Location", location_path %>
        <%= link_to "High Rating", jobs_path('high_rated') %>
        <%= link_to "Profession", profession_path %>
        <%= link_to "Lower Priced", jobs_path('low_priced') %>
        <%= link_to "Higer Priced", jobs_path('high_priced') %>
      </div>
    </div>
    </div>

  <div class="d-flex justify-content-around footer-bottom">
    <p><i class="far fa-copyright"></i>  Helperr Company</p>
    <div class="d-flex footer-locations">
      <p class="mr-1 footer-location-text">We help unemployement in</p>
      <p id="changeText" class="changing-location"> Brighton</p>
    </div>
    <p>helperr@support.com</p>
  </div>
</div>
