<div class="search">
  <%= image_tag "tools.jpg", class:"search-image" %>

  <div class="search-box">
    <div class="search-infomation">
      <h2>Find a <strong>Helperr</strong></h2>
      <h6 class="mt-4" >Find the best person for the job from hundreds of reliable helperrs!</h6>
    </div>

    <form class="search-bar">
      <i class="fas fa-search search-icon"></i>
      <input name="query" type="search" aria-label="Search" placeholder="Find a helperr..." class="search-input">
      <button class="btn btn-primary search-submit" type="submit">Search</button>
    </form>
  </div>
</div>

<h4 class="professions-title title">Get started with one of our listed Jobs</h4>

<div class="professions">
  <% @professions.each do |job| %>
    <% unless job.nil? %>
      <%= link_to jobs_path(job) do %>
        <div class="profession">
          <div class="job-photo <%= job.downcase.delete(" ") %>"></div>

          <div class="profession-info">
            <p class="profession-name"><strong><%= job %></strong></p>
            <% if @low_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£8.10</strong> to <strong class="price">£43.00</strong> /HOUR</p>
            <% elsif @mid_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£12.00</strong> to <strong class="price">£62.00</strong> /HOUR</p>
            <% elsif @high_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£13.50</strong> to <strong class="price">£81.00</strong> /HOUR</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="d-flex justify-content-center extend-all-professions">
  <p id="seeAllBtn1" class="d-flex justify-content-around"><i class="chevron chevron-professions fas fa-chevron-down"></i></p>
</div>

<div class="about-margin">
  <div class="about-us">
    <%= image_tag "helping.jpg", class:"about-us-image" %>

    <div class="about-us-content-1">
      <h4 class="about-title"><strong>How it works...</strong></h4>
      <div class="hw-description">
        <div class="steps step1" >
          <%= image_tag "business-women.png", class:"about-image" %>
          <h5><strong>1. Find</strong></h5>
          <p>From our selection of professions and users, find whats best suited to you!</p>  
        </div>
        <div class="steps step2" >
          <%= image_tag "chat.png", class:"about-image" %>
          <h5><strong>2. Contact</strong></h5>
          <p>Contact the helper via our chat box, or you can email them or call. It's up to you.</p> 
        </div>
        <div class="steps step3" >
          <%= image_tag "calendar.png", class:"about-image" %>
          <h5><strong>3. Time & Date</strong></h5>
          <p>Find a helper thats willing to help you on the days that are best for you.</p> 
        </div>
        <div class="steps step4" >
          <%= image_tag "agree.png", class:"about-image" %>
          <h5><strong>4. Price</strong></h5>
          <p>Agree on a price you're happy with, pay no more than the agreed price once the jobs complete!</p> 
        </div>
        <div class="steps step5" >
          <%= image_tag "wait.png", class:"about-image" %>
          <h5><strong>5. Wait</strong></h5>
          <p>Sit and relax while our helper completes the task you've assigned.</p> 
        </div>
        <div class="steps step6" >
          <%= image_tag "pay.png", class:"about-image" %>
          <h5><strong>6. Pay</strong></h5>
          <p>Job done! Now all that's left to do is complete the payment and perhaps give the helper your feedback.</p> 
        </div>
      </div>
    </div>
  </div>
</div>


<div class="all-featured">
  <h4 class="title featured-title">Take a look at our highest rated Helperrs</h4>

  <div class="relative-left-right">
    <% if @rated_users != [] && @rated_users.count >= 12 %>
      <div class="featured">
        <div class="left-right">
          <% @rated_users.sample(12).each do |user| %>
            <div class="feature">
              <%= link_to jobs_path do %>
                <div class="feature-content">
                  <p class="doj">DOJ : <%= user.created_at.day %>-<%= user.created_at.month %>-<%= user.created_at.year %></p>
                  <p class="tag">Featured</p>

                  <div>
                    <% if user.photo.attached? %>
                      <%= cl_image_tag u.photo.key, class: "featured-img", 'aria-haspopup': true, 'aria-expanded': false %>
                    <% else %>
                      <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card feature-img", 'aria-haspopup': true, 'aria-expanded': false %>
                    <% end %>

                    <p class="rating">
                      <% unless user.rating.nil? %>
                        <% if user.rating.round(1) < 5.0 %>
                          <%= user.rating.round(1) %>
                          <% 4.times do %>
                            <i class="fas fa-star"></i>
                          <% end %>
                          <i class="fas fa-star-half-alt"></i>
                        <% else %>
                          <%= user.rating.round(1) %>
                          <% 5.times do %>
                            <i class="fas fa-star"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>

                  <p class="username"><%= user.username %></p>
                  <p class="email"><%= user.email %></p>
                  <p class="location"><i class="fas fa-thumbtack"></i>  <%= user.location %></p>
                  <div class="jobs">
                    <% unless user.jobs.nil? %>
                      <% user.jobs.sample(3).each do |job| %>
                        <ul>
                          <li class="job-title"><p><%= job.profession %></p>  <p><strong class="rate">£<%= job.rate %></strong>/ hr</p></li>
                        </ul>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="featured">
        <div class="left-right">
          <% 12.times do %>
            <div class="feature">
              <%= link_to jobs_path do %>
                <div class="feature-content">
                  <p class="doj">DOJ : 00 - 00 - 00</p>
                  <p class="tag">Featured</p>

                  <div>
                    <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card feature-img", 'aria-haspopup': true, 'aria-expanded': false %>

                    <p class="rating">5.0
                      <% 5.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                    </p>
                  </div>

                  <p class="username">Username</p>
                  <p class="email">Email@example.com</p>
                  <p class="location"><i class="fas fa-thumbtack"></i>  Location</p>
                  <div class="jobs">
                    <ul>
                      <% 3.times do %>
                        <li class="job-title"><p>Profession</p>  <p><strong class="rate">£0.00</strong>/ hr</p></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <p id="seeAllBtn4" class="d-flex justify-content-around see-all-sideways"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>  
    <p id="seeAllBtn5" class="d-flex justify-content-around"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
  </div>
</div>

<div class="d-flex justify-content-center extend-all-featured">
  <p id="seeAllBtn2" class="d-flex justify-content-around"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
</div>


<div class="about-margin">
  <div class="about-us">
    <%= image_tag "workingmen.jpg", class:"about-us-image about-img2" %>

    <div class="about-content">
      <h4 class="au-title">Providing work when it's hard to find!</h4>
      <p class="au-description">Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing and we aim to have people of all types of work showcasing there skills on our website. Safety is our vertue, we provide a safe  and secure place for everyone to find the work they need and have  an easy and secure way to be paid!</p>
      <%= link_to about_us_path do %>
        <button class="au-btn btn btn-primary">Learn More!</button>
      <% end %>
    </div>

    <%= image_tag "workingmen.jpg", class:"about-us-image about-img3" %>
  </div>

  <div class="line"></div>

  <div class="information">
    <div class="info">
      <h4><i class="far fa-clock"></i>  Your <strong>Terms</strong></h4>
      <p>Do the job for the price you want, <br>when you want.</p>
    </div>

    <div class="info">
      <h4><i class="fas fa-globe-europe"></i>  Your <strong>Profession</strong></h4>
      <p>Don't stick to a job you hate, <br>get paid for what you love.</p>
    </div>

    <div class="info">
      <h4><i class="fas fa-shield-alt"></i>  Your <strong>Protection</strong></h4>
      <p>We provide a safe and secure way <br>for you to pay.</p>
    </div>
  </div>
</div>

<i class="fas fa-chevron-circle-up back-to-top"></i>

<%= render 'shared/footer' %>
