<div class="home-header">
  <h1 class="header-title">Find the right helperr for the job</h1>
  <div class="d-flex search-bar">
    <input class="header-search" type="text" placeholder="Find a Helperr...">
    <button class="btn btn-primary header-submit">Search</button>
  </div>
</div>

<h4>Get started with these popular services</h4>

<div class="container">

  <div class="high-rated-jobs">
    <% @high_rated_users.sample(8).each do |user| %>
      <% unless user.jobs.last.nil? %>
        <%= link_to job_path(user.jobs.last), class:"high-rated-job" do %>
          <h5><%= user.jobs.last.profession %></h5>
          <h3>£<%= user.jobs.last.rate %></h3>
          <p><%= user.jobs.last.location %></p>
          <p><%= user.rating.round(1) %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
