<div class="home-header">
  <div class="header-content d-flex py-5 px-2">
    <h1 class="header-title">Find the right <strong>Helperr</strong> for the job</h1>
    <h6>Find the best person for the job from hundreds of reliable helperrs</h6>

    <form id="search-bar" class="search-bar form-inline">
      <% if @query.present? %>
        <input name="query" class="header-search" type="search" placeholder="Find a Helperr..." aria-label="Search">
      <% else %>
        <input name="query" class="header-search" type="search" aria-label="Search" placeholder="Find a Helperr...">
      <% end %>
        <button class="btn btn-primary header-submit" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <h4 class="home-title">Get started with these featured Helperrs...</h4>

  <div class="professions">
    <% @professions.sample(8).each do |job| %>
      <% unless job.nil? %>
        <%= link_to jobs_path(job), class:"profession" do %>
          <div class="job-photo <%= job.downcase.delete(" ") %>"></div>

          <div class="profession-content">
            <p class="profession-title"><strong><%= job %></strong></p>
            <% if @low_rates.include?(job) %>
              <p class="rates">From <strong class="price">£8.10</strong> to <strong class="price">£43.00</strong> /HOUR</p>
            <% elsif @mid_rates.include?(job) %>
              <p class="rates">From <strong class="price">£12.00</strong> to <strong class="price">£62.00</strong> /HOUR</p>
            <% elsif @high_rates.include?(job) %>
              <p class="rates">From <strong class="price">£13.50</strong> to <strong class="price">£81.00</strong> /HOUR</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="about-us d-flex">
  <div class="about-us-img"></div>

  <div class="about-us-content">
    <h4 class="au-title">Providing work when it's hard to find!</h4>
    <p class="au-description">Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing and we aim to have people of all types of work showcasing there skills on our website. Safety is our vertue, we provide a safe  and secure place for everyone to find the work they need and have  an easy and secure way to be paid!
    <button class="au-btn btn btn-primary">Learn More!</button>
  </div>
</div>

<div class="container featured-container">
  <h4>Take a look at our highest rated Helperrs</h4>

  <div class="featured">
    <% @rated_users.sample(3).each do |user| %>
      <div class="feature">
        <%= link_to jobs_path do %>
          <p class="doj">
            DOJ : <%= user.created_at.day %>-<%= user.created_at.month %>-<%= user.created_at.year %>
          </p>

          <p class="ft">Featured</p>

          <div class="feature-content">
            <div>
              <% if user.photo.attached? %>
                <%= cl_image_tag u.photo.key, class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>

              <p class="ft-rating">
                <% unless user.rating.nil? %>
                  <% if user.rating.round(1) < 5.0 %>
                    <%= user.rating.round(1) %>
                    <% 4.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <i class="fas fa-star-half-alt"></i>
                  <% else %>
                    <%= user.rating.round(1) %>
                    <% 5.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </p>
            </div>

            <p class="ft-username"><%= user.username %></p>
            <p class="ft-email"><%= user.email %></p>
            <p class="ft-location"><i class="fas fa-thumbtack"></i>  <%= user.location %></p>
            <% unless user.jobs.nil? %>
              <% user.jobs.sample(3).each do |job| %>
                <ul>
                  <li class="ft-professions"><%= job.profession %>  <strong>£<%= job.rate %></strong>/ hr</li>
                </ul>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
