<div class="search">
  <%= image_tag "tools.jpg", class:"search-image" %>

  <div class="search-box">
    <div class="search-infomation">
      <h2>Find a <strong>Helperr</strong></h2>
      <h6 class="mt-4" >Find the best person for the job from hundreds of reliable helperrs!</h6>
    </div>

    <form class="search-bar">
      <i class="fas fa-search search-icon"></i>
      <input name="query" type="search" aria-label="Search" placeholder="Find a helperr..." class="search-input">
      <button class="btn btn-primary search-submit" type="submit">Search</button>
    </form>
  </div>
</div>


<h4 class="profession-title">Get started with one of our listed Jobs</h4>

<div class="professions">
  <% @professions.each do |job| %>
    <% unless job.nil? %>
      <%= link_to jobs_path(job) do %>
        <div class="profession">
          <div class="job-photo <%= job.downcase.delete(" ") %>"></div>
          
          <div class="profession-info">
            <p class="profession-name"><strong><%= job %></strong></p>
            <% if @low_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£8.10</strong> to <strong class="price">£43.00</strong> /HOUR</p>
            <% elsif @mid_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£12.00</strong> to <strong class="price">£62.00</strong> /HOUR</p>
            <% elsif @high_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£13.50</strong> to <strong class="price">£81.00</strong> /HOUR</p>
            <% end %>
          </div>
        </div>  
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="d-flex justify-content-center extend-all-professions">
  <p id="seeAllBtn1" class="d-flex justify-content-around"><i class="chevron chevron-professions fas fa-chevron-down"></i></p>
</div>


<div class="about-us">
  <div class="about-us-img-1"></div>

  <div class="about-us-content-1">
    <h4 class="au-title">How it works!</h4>
    <div class="hw-description">
      <p class="steps" >1. Find the profession you desire <i class="fas fa-check tick"></i></p>
      <p class="steps" >2. Send a personal message to one of our helperrs <i class="fas fa-check tick"></i></p>
      <p class="steps" >3. Agree on a hourly rate you're happy with <i class="fas fa-check tick"></i></p>
      <p class="steps" >4. Agree on the perfect time and date <i class="fas fa-check tick"></i></p>
      <p class="steps" >5. Wait for your helperr to complete the task <i class="fas fa-check tick"></i></p>
      <p class="steps" >6. Pay your helperr via our secure payment system <i class="fas fa-check tick"></i></p>
    </div>
    <%= link_to about_us_path do %>
      <button class="au-btn btn btn-primary">Learn More!</button>
    <% end %>
  </div>
</div>


<div class="all-featured">
  <div class="all-featured-container">
    <h4 class="featured-title">Take a look at our highest rated Helperrs</h4>

      <% if @rated_users != [] %>

        <div class="d-flex justify-content-center extend-all-featured">
          <p id="seeAllBtn4" class="d-flex justify-content-around see-all-sideways"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
        </div>

        <div class="featured">
          <div class="featured-left-right">
            <% @rated_users.sample(12).each do |user| %>
              <div class="feature">
                <%= link_to jobs_path do %>
                  <p class="doj">
                    DOJ : <%= user.created_at.day %>-<%= user.created_at.month %>-<%= user.created_at.year %>
                  </p>

                  <p class="ft">Featured</p>

                  <div class="feature-content">
                    <div>
                      <% if user.photo.attached? %>
                        <%= cl_image_tag u.photo.key, class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>
                      <% else %>
                        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>
                      <% end %>

                      <p class="ft-rating">
                        <% unless user.rating.nil? %>
                          <% if user.rating.round(1) < 5.0 %>
                            <%= user.rating.round(1) %>
                            <% 4.times do %>
                              <i class="fas fa-star"></i>
                            <% end %>
                            <i class="fas fa-star-half-alt"></i>
                          <% else %>
                            <%= user.rating.round(1) %>
                            <% 5.times do %>
                              <i class="fas fa-star"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                      </p>
                    </div>

                    <p class="ft-username"><%= user.username %></p>
                    <p class="ft-email"><%= user.email %></p>
                    <p class="ft-location"><i class="fas fa-thumbtack"></i>  <%= user.location %></p>
                    <div class="all-ft">
                      <% unless user.jobs.nil? %>
                        <% user.jobs.sample(3).each do |job| %>
                          <ul>
                            <li class="ft-professions"><%= job.profession %>  <strong class="ft-rate">£<%= job.rate %></strong>/ hr</li>
                          </ul>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

       <div class="d-flex justify-content-center extend-all-featured">
          <p id="seeAllBtn5" class="d-flex justify-content-around"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
        </div>
      
      <% else %>

        <div class="d-flex justify-content-center extend-all-featured">
          <p id="seeAllBtn4" class="d-flex justify-content-around see-all-sideways"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
        </div>
        
        <div class="featured">
          <div class="featured-left-right">
            <% 12.times do %>
              <div class="feature">
                <%= link_to jobs_path do %>
                  <p class="doj">DOJ : 00 - 00 - 00</p>
                  <p class="ft">Featured</p>

                  <div class="feature-content">
                    <div>
                      <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>

                      <p class="ft-rating">5.0
                        <% 5.times do %>
                          <i class="fas fa-star"></i>
                        <% end %>
                      </p>
                    </div>

                    <p class="ft-username">Username</p>
                    <p class="ft-email">Email@example.com</p>
                    <p class="ft-location"><i class="fas fa-thumbtack"></i>  Location</p>
                    <div class="all-ft">
                      <ul>
                        <% 3.times do %>
                          <li class="ft-professions">Profession  <strong class="ft-rate">£0.00</strong>/ hr</li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        
        <div class="d-flex justify-content-center extend-all-featured">
          <p id="seeAllBtn5" class="d-flex justify-content-around"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center extend-all-featured">
  <p id="seeAllBtn2" class="d-flex justify-content-around"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
</div>


<div class="about-us">
  <div class="about-us-img-2"></div>

  <div class="about-us-content-2">
    <h4 class="au-title">Providing work when it's hard to find!</h4>
    <p class="au-description">Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing and we aim to have people of all types of work showcasing there skills on our website. Safety is our vertue, we provide a safe  and secure place for everyone to find the work they need and have  an easy and secure way to be paid!</p>
    <%= link_to about_us_path do %>
      <button class="au-btn btn btn-primary">Learn More!</button>
    <% end %>
  </div>

  <div class="about-us-img-3"></div>
</div>


<div class="info-home">
  <div class="info">
    <h4><i class="far fa-clock"></i>  Your <strong>Terms</strong></h4>
    <p>Do the job for the price you want, <br>when you want.</p>
  </div>

  <div class="info">
    <h4><i class="fas fa-globe-europe"></i>  Your <strong>Profession</strong></h4>
    <p>Don't stick to a job you hate, <br>get paid for what you love.</p>
  </div>

  <div class="info">
    <h4><i class="fas fa-shield-alt"></i>  Your <strong>Protection</strong></h4>
    <p>We provide a safe and secure way <br>for you to pay.</p>
  </div>
</div>

<i class="fas fa-chevron-circle-up back-to-top"></i>

<%= render 'shared/footer' %>
