<%# <% unless user_signed_in? %>
  <%# <div>
    <div class="line"></div>
    <div class="sign-up">
      <p class="log-in-btn">Sign Up</p>
      <button class="btn btn-primary helperr-btn">Become a helperr</button>
    </div>
  </div> %>
<%# end %>

<div class="ham-burger-inactive">
  <div class="hamburger-content">
    <button class="btn btn-primary">Join Helperr</button>
    <p>Browse Professions</p>
    <p>Helperr Pro</p>
    <p>General</p>
    <p>Home</p>
    <p>Englsih</p>
    <p>£GBP</p>
  </div>
</div>


<div class="home-header">
  <%= image_tag "man.jpg", class:"photo-man" %>

  <div></div>

  <div class="wrapper">
    <h2 class="header-title">Find a <strong>Helperr</strong></h2>
    <h6 class="header-info">Find the best person for the job from hundreds of reliable helperrs</h6>

    <form id="search-bar" class="search-bar form-inline">
      <% if @query.present? %>
        <input name="query" class="header-search" type="search" placeholder="Find a Helperr..." aria-label="Search">
      <% else %>
        <input name="query" class="header-search" type="search" aria-label="Search" placeholder="Find a Helperr...">
      <% end %>
        <button class="btn btn-primary header-submit" type="submit">Search</button>
    </form>
  </div>
</div>

<div>
  <h4 class="home-title">Get started with these featured Helperrs</h4>

  <div class="p-container">
    <div class="professions swipe-left">
      <% @professions.each do |job| %>
        <% unless job.nil? %>
          <%= link_to jobs_path(job) do %>
            <div class="profession" id="prf">
              <div class="job-photo <%= job.downcase.delete(" ") %>"></div>

              <div class="profession-content">
                <p class="profession-title"><strong><%= job %></strong></p>
                <% if @low_rates.include?(job) %>
                  <p class="rates">From <strong class="price">£8.10</strong> to <strong class="price">£43.00</strong> /HOUR</p>
                <% elsif @mid_rates.include?(job) %>
                  <p class="rates">From <strong class="price">£12.00</strong> to <strong class="price">£62.00</strong> /HOUR</p>
                <% elsif @high_rates.include?(job) %>
                  <p class="rates">From <strong class="price">£13.50</strong> to <strong class="price">£81.00</strong> /HOUR</p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="seeAllBtn" class="d-flex justify-content-around"><i class="chevron fas fa-chevron-down"></i></div>
<div class="d-flex justify-content-center" id="animation"><%= image_tag "swipe-right.png", class:"swipe-right-photo rotate" %></div>


<div class="about-us">
  <div class="about-us-img-1"></div>

  <div class="about-us-content-1">
    <h4 class="au-title">Providing work when it's hard to find!</h4>
    <p class="au-description">Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing and we aim to have people of all types of work showcasing there skills on our website. Safety is our vertue, we provide a safe  and secure place for everyone to find the work they need and have  an easy and secure way to be paid!</p>
    <%= link_to about_us_path do %>
      <button class="au-btn btn btn-primary">Learn More!</button>
    <% end %>
  </div>
</div>


<h4 class="featured-title">Take a look at our highest rated Helperrs</h4>
<div class="featured-container">

  <% if @rated_users != [] %>

    <div class="featured">
      <% @rated_users.sample(3).each do |user| %>
        <div class="feature">
          <%= link_to jobs_path do %>
            <p class="doj">
              DOJ : <%= user.created_at.day %>-<%= user.created_at.month %>-<%= user.created_at.year %>
            </p>

            <p class="ft">Featured</p>

            <div class="feature-content">
              <div>
                <% if user.photo.attached? %>
                  <%= cl_image_tag u.photo.key, class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                  <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>

                <p class="ft-rating">
                  <% unless user.rating.nil? %>
                    <% if user.rating.round(1) < 5.0 %>
                      <%= user.rating.round(1) %>
                      <% 4.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <i class="fas fa-star-half-alt"></i>
                    <% else %>
                      <%= user.rating.round(1) %>
                      <% 5.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </p>
              </div>

              <p class="ft-username"><%= user.username %></p>
              <p class="ft-email"><%= user.email %></p>
              <p class="ft-location"><i class="fas fa-thumbtack"></i>  <%= user.location %></p>
              <div class="all-ft">
                <% unless user.jobs.nil? %>
                  <% user.jobs.sample(3).each do |job| %>
                    <ul>
                      <li class="ft-professions"><%= job.profession %>  <strong class="ft-rate">£<%= job.rate %></strong>/ hr</li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <% else %>

    <div class="featured">
      <% 3.times do %>
        <div class="feature">
          <%= link_to jobs_path do %>
            <p class="doj">
              DOJ : 00 - 00 - 00
            </p>

            <p class="ft">Featured</p>

            <div class="feature-content">
              <div>
                <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card featured-img", 'aria-haspopup': true, 'aria-expanded': false %>

                <p class="ft-rating">5.0
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </p>
              </div>

              <p class="ft-username">Username</p>
              <p class="ft-email">Email@example.com</p>
              <p class="ft-location"><i class="fas fa-thumbtack"></i>  Location</p>
              <div class="all-ft">
                <ul>
                  <% 3.times do %>
                    <li class="ft-professions">Profession  <strong class="ft-rate">£0.00</strong>/ hr</li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>


<div class="about-us">
  <div class="about-us-img-2"></div>

  <div class="about-us-content-2">
    <h4 class="au-title">Providing work when it's hard to find!</h4>
    <p class="au-description">Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing and we aim to have people of all types of work showcasing there skills on our website. Safety is our vertue, we provide a safe  and secure place for everyone to find the work they need and have  an easy and secure way to be paid!</p>
    <%= link_to about_us_path do %>
      <button class="au-btn btn btn-primary">Learn More!</button>
    <% end %>
  </div>

  <div class="about-us-img-3"></div>
</div>


<div class="info-home">
  <div class="info">
    <h4><i class="far fa-clock"></i>  Your <strong>Terms</strong></h4>
    <p>Do the job for the price you want, <br>when you want.</p>
  </div>

  <div class="info">
    <h4><i class="fas fa-globe-europe"></i>  Your <strong>Profession</strong></h4>
    <p>Don't stick to a job you hate, <br>get paid for what you love.</p>
  </div>

  <div class="info">
    <h4><i class="fas fa-shield-alt"></i>  Your <strong>Protection</strong></h4>
    <p>We provide a safe and secure way <br>for you to pay.</p>
  </div>
</div>


<%= render 'shared/footer' %>