<!-- parallax banner with search bar in the middle and text -->
<div class="search parallax-window d-flex justify-content-center" data-parallax="scroll" data-image-src="/assets/tools.jpg">
  <div class="rounded m-auto text-center">
    <div class="m-4">
      <h5 class="text-light parallax-text-small mb-3">Saving time and money</h5>
      <p class="underline mx-auto mb-4"></p>
      <h1 class="text-light fw-light mb-5 parallax-text-big">FIND A HELPERR</h1>
    </div>
    <form class="search-bar">
      <input class="form-control mr-5" name="query" type="search" aria-label="Search" placeholder="Find a helperr...">
      <button class="btn btn-primary text-light btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </form>
  </div>
</div>

<!-- Instructions on how to use the website, in steps -->
<div class="bg-light d-flex justify-content-center">
  <div class="instructions text-center container py-2 px-4 mt-n5">
    <% @instructions.each_with_index do |instruction, index| %>
      <div class="instruction">
        <div class="icon <%= instruction.downcase.delete(' &') %>"></div>
        <p><%= instruction %></p>
        <p class="step mt-4">Step <%= index + 1 %>.</p>
      </div>
    <% end %>
  </div>
</div>

<!-- Carousel of popular users at current time, Created using slick -->
<div class="carousel">
  <i class="fas fa-chevron-left prev prev-next"></i>
  <i class="fas fa-chevron-right next prev-next"></i>
  <h5 class="title container fs-2 my-n1">Featured Helperrs</h5>
  <div class="carousel-wraper py-5">
    <% @professions.each do |p| %>
      <div class="card mx-3 featured-card">
        <img src="/assets/professions/<%= p.title.downcase.delete(' ') %>.jpg" alt="" class="card-img-top card-image">
        <div class="card-body">
          <h5 class="card-title"><%= p.title %></h5>
          <p class="body-text"><%= p.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Professions list -->
<div class="container-fluid bg-white professions">
  <div class="container">
    <h4 class="title text-primary text-center fs-2 fw-normal">Popular Professions</h4>
    <p class="professions-subtitle text-center fs-5 mb-4">Take a look through our most popular jobs</p>
    <p class="underline mx-auto mb-5"></p>
    <div class="row justify-content-around profession">
      <% @professions.each do |p| %>
        <div class="card m-3 p-0 profession-card">
          <img src="/assets/professions/<%= p.title.downcase.delete(' ') %>.jpg" alt="" class="card-img-top card-image">
          <div class="card-body">
            <h5 class="card-title"><%= p.title %></h5>
            <p class="body-text"><%= p.price %></p>
          </div>
        </div>
      <% end %>
    </div>
    <i class="fas fa-chevron-down text-center container d-flex justify-content-around mt-4"></i>
  </div>
</div>

<!-- Professions list -->
<div class="bg-light p-5 mb-5 text-center container">
  <h2 class="mt-5 title fs-2">About Us</h2>
  <p class="underline container"></p>
  <p class="au-description mt-5 fs-6">Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing 
  and we aim to have people of all types of work showcasing there skills on our website. Safety is our vertue, we provide a safe  and secure place for everyone to find the work they need 
  and have  an easy and secure way to be paid!</p>
</div>

<!-- second parallax  -->
<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/helping.jpg" style="height: 80vh;">
  <div class="container d-flex justify-content-around text-white text-center">
    <% @info.each do |i| %>
      <div class="info mt-50 <%= i[:name] %>">
        <div class="info-content">
          <%= i[:title] %>
          <%= i[:text] %>
        </div>
        <div class="info-underline"></div>
      </div>
    <% end %>
  </div>
</div>

<!-- How it works and infomation  -->
<div class="container-fluid my-auto d-flex flex-column justify-content-center" style="height: 704px; background: rgb(18, 18, 18); position: relative;">
  <div class="review-line" style="height: 2px; width: 100%; background-color: rgba(255, 255, 255, 0.5); position: absolute; top: 0; right: 0;"></div>
  <!-- steps -->
  <div class="container-fluid text-light" style="background-color: rgb(18, 18, 18);">
    <div class="container">
      <div class="about-us-title">
        <h2 class="about-title">How it Works</h2>
        <div class="underline mb-5"></div>
      </div>
      <% @steps.each do |s| %>
        <div class="steps step<%= s.id %> active-step" >
          <div class="about-info-odd">
            <h5><%= s.title %></h5>
            <p><%= s.info %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Cutomer reviews -->
<div class="review text-dark d-flex flex-column text-center mx-auto justify-content-around w-50 mt-5">
  <h1 class="review-name mb-2">John Smith</h1>
  <p class="underline mx-auto mb-5"></p>
  <div class="review-text">
    <i class="fas fa-quote-left fs-2 text-start mr-5 mb-2"></i>
    <h5 class="my-2"><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae 
    illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.</i></h5>
    <i class="fas fa-quote-right fs-2 ml-5"></i>
  </div>
</div>
<div class="d-flex text-light mx-auto" style="font-size: 12px; margin-bottom: 60px; margin-top: 104px;">
  <% 4.times do %>
    <i class="fas fa-circle mx-1"></i>
  <% end %>
</div>

<!-- Newsletter -->
<div class="bg-light">
  <div class="container d-flex justify-content-around p-4 text-dark">
    <div>
      <h4>Newsletter</h4>
      <p class="newsletter-text">Text about newsletter</p>
    </div>
    <div class="mt-4 d-flex">
      <input name="query" type="search" aria-label="Search" placeholder="Email" class="search-input form-control">
      <button class="btn btn-primary search-submit" type="submit">Subscribe</button>
    </div>
  </div>
</div>

<!-- Back to top button -->
<i class="fas fa-chevron-up" id="backToTop" style="background-color: dodgerblue; border-radius: 2px; padding: 16px; position: fixed; right: 40px; bottom: 40px;"></i>
