<div class="search">
  <div class="search-box">
    <%= render 'shared/navbar' %>

    <div class="search-infomation">
      <h1>Find the right <strong>Helperr</strong> for the job</h1>
      <h5 class="mt-3">Your time, your choice</h5>
    </div>

    <form class="search-bar">
      <div>
        <i class="fas fa-search search-icon"></i>
        <input name="query" type="search" aria-label="Search" placeholder="Find a helperr..." class="search-input">
      </div>
      <button class="btn btn-primary search-submit" type="submit">Search</button>
    </form>
  </div>
</div>


<div class="all-featured">
  <div class="socials-bar">
    <div class="social social1"><p class="social-images find"></p> Find <p class="instructions">Step 1.</p></div>
    <div class="social social2"><p class="social-images contact"></p> Contact <p class="instructions">Step 2.</p></div>
    <div class="social social3"><p class="social-images timedate"></p> Time & Date <p class="instructions">Step 3.</p></div>
    <div class="social social4"><p class="social-images agree"></p> Agree <p class="instructions">Step 4.</p></div>
    <div class="social social5"><p class="social-images wait"></p> Wait <p class="instructions">Step 5.</p></div>
    <div class="social social6"><p class="social-images pay"></p> Pay <p class="instructions">Step 6.</p></div>
  </div>

  <h4 class="featured-title">Take a look at our highest rated Helperrs</h4>

  <% if @rated_users != [] && @rated_users.count >= 12 %>

    <div class="featured">
      <div class="left-right">
        <% @rated_users.sample(12).each do |user| %>
          <div class="feature">
            <%= link_to jobs_path do %>
              <div class="feature-content">
                <% if user.cover_photo.attached? %>
                  <%= cl_image_tag user.cover_photo.key, class: "featured-cover-photo", 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                  <%= image_tag @coverphoto.sample, class: "featured-cover-photo", 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>

                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: "avatar-card feature-img", 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                  <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card feature-img", 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>

                <div class="featured-top">
                  <p class="username"><%= user.username %></p>
                  <p class="save"><i class="fab like-btn fa-gratipay"></i></p>
                </div>

                <p class="location"><i class="fas fa-thumbtack"></i>  <%= user.location %></p>
                <p class="email"><%= user.email %></p>

                <div class="rating">
                  <% unless user.rating.nil? %>
                    <% if user.rating.round(1) < 5.0 %>
                      <%= user.rating.round(1) %>
                      <% 4.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <i class="fas fa-star-half-alt"></i>
                      <p class="number-rating">(0 reviews)</p>
                    <% else %>
                      <%= user.rating.round(1) %>
                      <% 5.times do %>
                        <i class="fas fa-star"></i>
                        <p class="number-rating">(0 reviews)</p>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>

    <div class="featured">
      <div class="left-right">
        <% 12.times do %>
          <div class="feature">
            <%= link_to jobs_path do %>
              <div class="feature-content">

                <%= image_tag @coverphoto.sample, class: "featured-cover-photo", 'aria-haspopup': true, 'aria-expanded': false %>
                <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar-card feature-img", 'aria-haspopup': true, 'aria-expanded': false %>

                <div class="featured-top">
                  <p class="username">Username</p>
                  <p class="save"><i class="fab like-btn fa-gratipay"></i></p>
                </div>

                <p class="location"><i class="fas fa-thumbtack"></i>  Location</p>
                <p class="email">Email@example.com</p>

                <div class="rating">
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <p class="number-rating">(0 reviews)</p>
                </div>

              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <p id="seeAllBtn4" class="d-flex justify-content-around see-all-sideways"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>  
  <p id="seeAllBtn5" class="d-flex justify-content-around"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
</div>


<h4 class="professions-title">Popular Professions</h4>
<p class="professions-subtitle">Take a quick look through our listings</p>
<div class="professions-box"></div>

<div class="professions">
  <% @professions.each do |job| %>
    <% unless job.nil? %>
      <%= link_to jobs_path(job) do %>
        <div class="profession">
          <div class="job-photo <%= job.downcase.delete(" ") %>"></div>

          <div class="profession-info">
            <p class="profession-name"><strong><%= job %></strong></p>
            <% if @low_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£8.10</strong> to <strong class="price">£43.00</strong> /HOUR</p>
            <% elsif @mid_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£12.00</strong> to <strong class="price">£62.00</strong> /HOUR</p>
            <% elsif @high_rates.include?(job) %>
              <p class="price-range">From <strong class="price">£13.50</strong> to <strong class="price">£81.00</strong> /HOUR</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="d-flex justify-content-center extend-all-professions">
  <p id="seeAllBtn1" class="d-flex justify-content-around"><i class="chevron chevron-professions fas fa-chevron-down"></i></p>
</div>


<div class="about-margin">
  <div class="about-us">

    <div class="about-us-content-1">
      <div class="about-us-title">
        <h4 class="about-title">How it Works</h4>
        <div class="about-box"></div>
      </div>

      <div class="hw-description">
        <div class="steps step1 active-step" >
          <%= image_tag "search.png", class:"about-image about-image1" %>
          <div class="about-info-odd">
            <h5>1. Find a Healerr</h5>
            <p>From our selection of professions and users, find whats best suited to you!</p>
          </div>
        </div>

        <div class="steps step4">
          <div class="about-info-even">
            <h5>4. Agree on a Price</h5>
            <p>Agree on a price you're happy with, pay no more than the agreed price once the jobs complete!</p>
          </div>
          <%= image_tag "money.png", class:"about-image about-image2" %>
        </div>

        <div class="steps step2" >
          <div class="about-info-even">
            <h5>2. Contact them</h5>
            <p>Contact the helper via our chat box, or you can email them or call. It's up to you.</p>
          </div>
          <%= image_tag "contact.png", class:"about-image about-image3" %>
        </div>

        <div class="steps step5" >
          <%= image_tag "waiting.png", class:"about-image about-image4" %>
          <div class="about-info-odd">
            <h5>5. Wait for the task to be complete</h5>
            <p>Sit and relax while our helper completes the task you've assigned.</p>
          </div>
        </div>

        <div class="steps step3" >
          <%= image_tag "time.png", class:"about-image about-image5" %>
          <div class="about-info-odd">
            <h5>3. Agree on a Time & Date</h5>
            <p>Find a helper thats willing to help you on the days that are best for you.</p>
          </div>
        </div>

        <div class="steps step6" >
          <div class="about-info-even">
            <h5>6. Pay the helperr</h5>
            <p>Job done! Now all that's left to do is complete the payment and perhaps give the helper your feedback.</p>
          </div>
          <%= image_tag "purchase.png", class:"about-image about-image6" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center extend-all-featured">
  <p id="seeAllBtn2" class="d-flex justify-content-around"><i class="chevron chevron-featured fas fa-chevron-down"></i></p>
</div>


<div class="reviews-content">
  <div class="review-box">
    <h4 class="review-title">Reviews</h4>
    <div class="review-line"></div>
  </div>

  <div class="review-container">
    <div class="reviews d-flex">
      <div class="review">
        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "review-img", 'aria-haspopup': true, 'aria-expanded': false %>
        <p class="review-name">John Smith</p>
        <p class="review-text"><i>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”</i></p>
      </div>

      <div class="review">
        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "review-img", 'aria-haspopup': true, 'aria-expanded': false %>
        <p class="review-name">Dave Blain</p>
        <p class="review-text"><i>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”</i></p>
      </div>

      <div class="review">
        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "review-img", 'aria-haspopup': true, 'aria-expanded': false %>
        <p class="review-name">Tommy Nobody</p>
        <p class="review-text"><i>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”</i></p>
      </div>

      <div class="review">
        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "review-img", 'aria-haspopup': true, 'aria-expanded': false %>
        <p class="review-name">Ricky Shiznick</p>
        <p class="review-text"><i>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.”</i></p>
      </div>
    </div>
  </div>

  <div class="d-flex review-dots"><i class="fas fa-circle dot1 mr-1 active-review"></i><i class="fas fa-circle dot2 mr-1"></i><i class="fas fa-circle dot3 mr-1"></i><i class="fas fa-circle dot4"></i></div>
  <i class="fas fa-chevron-left review-next review-left"></i>
  <i class="fas fa-chevron-right review-next review-right"></i>
</div>


<div class="about-margin">
  <div class="information">
    <div class="info">
      <h4><i class="far fa-clock"></i>  Your <strong>Terms</strong></h4>
      <p>Do the job for the price you want, <br>when you want.</p>
    </div>

    <div class="info">
      <h4><i class="fas fa-globe-europe"></i>  Your <strong>Profession</strong></h4>
      <p>Don't stick to a job you hate, <br>get paid for what you love.</p>
    </div>

    <div class="info">
      <h4><i class="fas fa-shield-alt"></i>  Your <strong>Protection</strong></h4>
      <p>We provide a safe and secure way <br>for you to pay.</p>
    </div>
  </div>

  <div class="about-us">
    <%= image_tag "workingmen.jpg", class:"about-us-image about-img2" %>

    <div class="about-content">
      <h4 class="au-title">Providing work when it's hard to find!</h4>
      <p class="au-description">Our aim is to help those that are having a hard time finding work, we provide the customers and you provide to skills! Our business is always growing and we aim to have people of all types of work showcasing there skills on our website. Safety is our vertue, we provide a safe  and secure place for everyone to find the work they need and have  an easy and secure way to be paid!</p>
      <%= link_to about_us_path do %>
        <button class="au-btn btn btn-primary">Learn More!</button>
      <% end %>
    </div>

    <%= image_tag "workingmen.jpg", class:"about-us-image about-img3" %>
  </div>
</div>


<div class="newsletter-box">
  <div class="newsletter">
    <div>
      <h4>Newsletter</h4>
      <p class="newsletter-text">Text about newsletter</p>
    </div>

    <div>
      <input name="query" type="search" aria-label="Search" placeholder="Email" class="search-input newsletter-input">
      <button class="btn btn-primary search-submit" type="submit">Subscribe</button>
    </div>
  </div>
</div>


<i class="fas fa-chevron-circle-up back-to-top"></i>

<%= render 'shared/footer' %>
