<div class="home-header">
  <div class="header-content d-flex py-5 px-2">
    
    <h1 class="header-title">Find the right <strong>Helperr</strong> for the job</h1>
    <h6>Find the best person for the job from hundreds of reliable helperrs</h6>
    
    <div class="d-flex search-bar">
      <input class="header-search" type="text" placeholder="Find a Helperr...">
      <button class="btn btn-primary header-submit">Search</button>
    </div>
  
  </div>
</div>


<div class="container">
  <h4 class="home-title">Get started with these featured Helperrs...</h4>

  <div class="high-rated-jobs">
    <% @high_rated_users.sample(8).each do |user| %>
      <% unless user.jobs.last.nil? %>
        <%= link_to job_path(user.jobs.last), class:"high-rated-job" do %>
          
          <div class="<%= user.jobs.last.profession.downcase.delete(' ') %> high-rated-job-photo"></div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", 
            class: "avatar high-rated-avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 
            'aria-haspopup': true, 'aria-expanded': false %>
          
          <div class="high-rated-content">
            <p class="profession"><strong><%= user.jobs.last.profession %></strong></p>
            <p class="hourly-rate">Starting rate of <strong>£<%= user.jobs.last.rate %></strong>\hr</p>
            
            <div class="d-flex high-rated-location">
              <p><i class="fas fa-map-marker-alt location-marker"></i> <%= user.jobs.last.location %></p>
            </div>
          
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="about-us"></div>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("vfocox0fsjzzdkddsq3u",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("vfocox0fsjzzdkddsq3u",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>