<h3>Helperr's Hired</h3>
<% if @jobs.count == 0 %>
  <h5>You haven't hired anyone yet!</h5>
<% else %>
  <% @jobs.each do |job| %>
    <h5><%= job.name %></h5>
  <% end %>
<% end %>

<h3>Listed Jobs</h3>
<% if @jobs_sell.count == 0 %>
  <h5>You haven't listed a job yet!</h5>
<% else %>
  <% @jobs_sell.each do |job| %>
    <h5><%= job.profession %></h5>
  <% end %>
<% end %>

<%= link_to "create a job", new_job_path %>
<%= current_user.username %>
<%= current_user.location %>
